<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="quick-form">
		<h5>Quick Suggestion or Feedback</h5>
		<p class="indent">Do you have a quick suggestion or feedback to give? View the
			<a href="https://goo.gl/forms/0KB168qwELBkpXYj1">quick form</a>!</p>
	</div>
	<div th:fragment="usability-test">
		<h5>Usability Test</h5>
		<p class="indent">Do you want to contribute to FlyCAGE by taking a usability test? This is a 30 minute structured test that will ask you
			to complete a set of tasks and ask for specific feedback. View the
			<a href="https://goo.gl/forms/aDiICMBO24VrbrrM2">usability test</a>!</p>
	</div>
	<div th:fragment="contribute">
		<h5>Contribute</h5>
		<p class="indent">Are you interested in directly contributing to FlyCAGE through development, feature testing, etc? We are looking for web
			developers, bioinformaticians, statisticians, biologists, and any other role that can contribute to FlyCAGE in any other
			way. Check out our
			<a href="https://github.com/CodingBash/FlyCAGE/blob/master/README.md" target="_blank">README.md</a> to learn how to get started!</p>
		<p class="indent">If you are interested in contributing soon, considering contributing to FlyCAGE during the
			<a href="https://foundation.mozilla.org/opportunity/global-sprint/"
			 target="_blank">Mozilla Global Sprint</a>! More information to come soon!</p>
	</div>
</body>

</html>