<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="query-summary">
		<div class="card panel">
			<div class="card-header panel-header text-center">
				<h2>Query</h2>
				<h4>Shown below is the input query</h4>
			</div>
			<div class="card-body panel-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="row extra-space"></div>
							<div class="row">
								<div class="col-md-6 text-xs-center">
									<label for="input-identifier">Input Identifier:</label>
								</div>
								<div class="col-md-6 text-xs-left">
									<input type="text" id="input-identifier" class="query-inputs"
										th:value="${geneForm.inputIdentifier}" readonly="readonly" />
								</div>
							</div>
							<div class="row extra-space"></div>
							<div class="row">
								<div class="col-md-6 text-xs-center">
									<label for="gene-organism">Organism:</label>
								</div>
								<div class="col-md-6 text-xs-left">
									<input type="text" id="gene-organism" class="query-inputs"
										th:value="${geneForm.geneOrganism}" readonly="readonly" />
								</div>
							</div>
							<div class="row extra-space"></div>
							<div class="row">
								<div class="col-md-6 text-xs-center">
									<label for="correlation-options">Correlation:</label>
								</div>
								<div class="col-md-6 text-xs-left">
									<input type="text" id="correlation-options"
										class="query-inputs" readonly="readonly" />
								</div>
							</div>
							<div class="row extra-space"></div>
							<div class="row">
								<div class="col-md-6 text-xs-center">
									<label for="query-comment">Comment:</label>
								</div>
								<div class="col-md-6 text-xs-left">
									<textarea id="query-comment" th:text="${geneForm.queryComment}"
										readonly="readonly"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="result-tables">
		<div id="result-panel" class="card panel">
			<div class="card-header panel-header text-center">
				<h2>Results</h2>
				<h4>Shown below are all of the highly correlated genes based on
					mRNA expression by stage data</h4>
			</div>
			<div class="card-body panel-block">


				<!-- Modal -->
				<!-- TODO: rename IDs to be more case-specific  -->
				<div class="modal fade" id="exampleModalLong" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLongTitle"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Expression
									Stage List</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- TODO: Refactor width implementation -->
								<table id="expressionStageMappingTable" width="100%" border="1"
									cellpadding="5">
									<tr>
										<th>Numerical ID</th>
										<th>Expression Stage Label</th>
									</tr>
									<th:block
										th:each="selectedExpressionStageLabel, iter : ${selectedExpressionStageLabels}">
										<tr>
											<td th:text="${iter.count - 1}"></td>
											<td th:text="${selectedExpressionStageLabel}"></td>
										</tr>
									</th:block>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row extra-space"></div>
				<h5 class="text-center">Correlated Genes Table</h5>
				<div class="row table-row">
					<div class="table-wrapper">
						<table id="correlation-results"
							class="stripe row-border compact nowrap"
							style="width: 100% !important; margin: auto !important;"
							cellspacing="0">
							<thead>
								<tr>
									<!--  TODO: Make fragment for these -->
									<th></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Rank by R-VAL" data-placement="top">RANK</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase database ID" data-placement="top">FlyBase
											ID</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase secondary ID" data-placement="top">CG ID </a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Name of gene" data-placement="top">GENE NAME</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Pearson's R coefficient" data-placement="top">R-VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Correlation p-value" data-placement="top">P-VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Button actions on row entry" data-placement="top">ACTION</a></th>
								</tr>
							</thead>
							<tbody></tbody>
							<tfoot>
								<tr>
									<!--  TODO: Make fragment for these -->
									<th></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Rank by R-VAL" data-placement="top">RANK</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase database ID" data-placement="top">DB ID</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase secondary ID" data-placement="top">2<sup>nd</sup>
											ID
									</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Name of gene" data-placement="top">GENE NAME</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Pearson's R coefficient" data-placement="top">R VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Correlation p-value" data-placement="top">P VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Button actions on row entry" data-placement="top">ACTION</a></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<div class="row extra-space"></div>
				<h5 class="text-center">Genes Of Interest Table</h5>
				<div class="row table-row">
					<div class="table-wrapper">
						<table id="goi-results" class="stripe row-border compact nowrap"
							style="width: 100% !important; margin: auto !important;"
							cellspacing="0">
							<thead>
								<tr>
									<!--  TODO: Make fragment for these -->
									<th></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Rank by R-VAL" data-placement="top">RANK</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase database ID" data-placement="top">DB ID</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase secondary ID" data-placement="top">2<sup>nd</sup>
											ID
									</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Name of gene" data-placement="top">GENE NAME</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Pearson's R coefficient" data-placement="top">R VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Correlation p-value" data-placement="top">P VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Button actions on row entry" data-placement="top">ACTION</a></th>
								</tr>
							</thead>
							<tbody></tbody>
							<tfoot>
								<tr>
									<!--  TODO: Make fragment for these -->
									<th></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Rank by R-VAL" data-placement="top">RANK</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase database ID" data-placement="top">DB ID</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="FlyBase secondary ID" data-placement="top">2<sup>nd</sup>
											ID
									</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Name of gene" data-placement="top">GENE NAME</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Pearson's R coefficient" data-placement="top">R VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Correlation p-value" data-placement="top">P VAL</a></th>
									<th><a href="#correlation-results" data-toggle="tooltip"
										title="Button actions on row entry" data-placement="top">ACTION</a></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>