@CHARSET "ISO-8859-1";

body {
	background-color: #E4E4E4
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.padded-column {
	padding-top:10px; 
	padding-bottom:10px; 
}

.padded-row {
	padding-bottom:20px; 
}

.btn-primary {
	color: #fff;
	background-color: #c00 !important;
	border: 0px solid transparent; 

	-webkit-transition: all 475ms cubic-bezier(.000, .000, .580, 1.000);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 475ms cubic-bezier(.000, .000, .580, 1.000) 0ms;
    -o-transition: all 475ms cubic-bezier(.000, .000, .580, 1.000) 0ms;
    transition: all 475ms cubic-bezier(.000, .000, .580, 1.000) 0ms;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
	background-color: maroon !important;
	border: 0px solid transparent; 

	-webkit-transition: all 500ms cubic-bezier(.445, .050, .550, .950);
    -webkit-transition-delay: 0ms;
    -moz-transition: all 500ms cubic-bezier(.445, .050, .550, .950) 0ms;
    -o-transition: all 500ms cubic-bezier(.445, .050, .550, .950) 0ms;
    transition: all 500ms cubic-bezier(.445, .050, .550, .950) 0ms
}

/*For navbar */
nav {
	background-color: #E4E4E4 !important;
}

/* TODO: Quick Workaround to differentiate between main panels, and expression stage panels. Make more organized */
.panel-header {
	height: 10em;
}

/*
 * Card styling
 */
.card {
	border-radius: 0;
	transition: box-shadow 0.5s;
}

.card-body {
	background-color: #fff !important;
}

.card-header {
	color: #fff !important;
	background-color: #c00 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*
 * END: Card styling
 */