<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Fragments</title>
</head>
<body>
	<div th:fragment="gene-form">
		<div class="card panel">
			<div class="card-header panel-header text-center">
				<h2>Input Form</h2>
				<h4>View the correlation data for a specified gene</h4>
			</div>
			<div class="card-block panel-block">
				<div class="container-fluid">
					<div class="row justify-content-center text-center">
						<div class="col-sm-12">
							<form action="#" th:action="@{/}" th:object="${geneForm}"
								method="POST">
								<div class="form-group">
									<label for="select-species">Select Species</label> <select
										class="form-control" id="select-species"
										th:field="*{geneSpecies}">
										<option value="D. melanogaster">D. melanogaster</option>
									</select> <small id="species-help" class="form-text text-muted">All
										genetic information will be searched within this species</small>
								</div>
								<div class="form-group">
									<label for="insert-gene">Gene Name</label> <input type="text"
										th:field="*{inputIdentifier}" class="form-control"
										id="insert-gene" aria-describedby="gene-help"
										placeholder="Enter Gene Name, DB Identifier, or secondary Identifier i.e. hairy | FBgn0001168 | CG6494 " />
									<small id="gene-help" class="form-text text-muted">We
										will compare the data from this gene to every other gene in
										the database</small>
								</div>
								<div class="form-group">
									<label for="correlation-options">Choose correlation
										analysis</label> <select multiple="multiple"
										th:field="*{correlationOptions}" class="form-control"
										id="correlation-options">
										<option value="exp-by-stage" select="selected">Expression
											by Stage (modENCODE)</option>
									</select> <small id="correlation-help" class="form-text text-muted">Choose
										all properties to conduct correlation analysis on. Hold shift
										to select multiple.</small>
								</div>
								<div class="text-left">
									<div class="form-group">

										<div>
											<label class="custom-control custom-checkbox"> <input
												type="checkbox"
												class="custom-control-input embryogenesis-main-checkbox" />
												<span class="custom-control-indicator"></span> <span
												class="custom-control-description">Embryogenesis</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-00-02hr"
												id="embryogenesis-embryo-00-02hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 00-02hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-02-04hr"
												id="embryogenesis-embryo-02-04hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 02-04hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-04-06hr"
												id="embryogenesis-embryo-04-06hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 04-06hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-06-08hr"
												id="embryogenesis-embryo-06-08hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 06-08hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-08-10hr"
												id="embryogenesis-embryo-08-10hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 08-10hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-10-12hr"
												id="embryogenesis-embryo-10-12hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 10-12hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-12-14hr"
												id="embryogenesis-embryo-12-14hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 12-14hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-14-16hr"
												id="embryogenesis-embryo-14-16hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 14-16hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-16-18hr"
												id="embryogenesis-embryo-16-18hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 16-18hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-18-20hr"
												id="embryogenesis-embryo-18-20hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 18-20hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-20-22hr"
												id="embryogenesis-embryo-20-22hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 20-22hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input embryogenesis-sub-checkbox"
												name="embryogenesis-embryo-22-24hr"
												id="embryogenesis-embryo-22-24hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 22-24hr</span>
											</label>
										</div>
										<br />
										<div>
											<label class="custom-control custom-checkbox"> <input
												type="checkbox"
												class="custom-control-input development-main-checkbox" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">Development</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox"
												name="development-embryo-00-02hr"
												id="development-embryo-00-02hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 00-02hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-02-04hr"
												id="development-embryo-02-04hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 02-04hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-04-06hr"
												id="development-embryo-04-06hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 04-06hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-06-08hr"
												id="development-embryo-06-08hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 06-08hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-08-10hr"
												id="development-embryo-08-10hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 08-10hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-10-12hr"
												id="development-embryo-10-12hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 10-12hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-12-14hr"
												id="development-embryo-12-14hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 12-14hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-14-16hr"
												id="development-embryo-14-16hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 14-16hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-16-18hr"
												id="development-embryo-16-18hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 16-18hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-18-20hr"
												id="development-embryo-18-20hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 18-20hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox" 
												name="development-embryo-20-22hr"
												id="development-embryo-20-22hr" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 20-22hr</span>
											</label> <br /> <label class="custom-control custom-checkbox">
												<input type="checkbox"
												class="custom-control-input development-sub-checkbox"
												name="development-embryo-22-24hr"
												id="development-embryo-22-24hr"  /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">embryo 22-24hr</span>
											</label>
										</div>
										<div>
											<br /> <label class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">Tissue</span>
											</label>
										</div>
										<br />
										<div>
											<label class="custom-control custom-checkbox"> <input
												type="checkbox" class="custom-control-input" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">Treatment</span>
											</label>
										</div>
										<br />
										<div>
											<label class="custom-control custom-checkbox"> <input
												type="checkbox" class="custom-control-input" /> <span
												class="custom-control-indicator"></span> <span
												class="custom-control-description">Cell Line</span>
											</label>
										</div>
										<!-- this is the global checkbox -->
										<div class="make-switch switch-mini" id="rowSelectAll">
											<input type="checkbox" id="rowSelectAll" />
										</div>

										<!-- row checkboxs -->
										<div class="make-switch switch-mini toggle-state-switch">
											<input type="checkbox" class="row-select" />
										</div>
										<div class="make-switch switch-mini toggle-state-switch">
											<input type="checkbox" class="row-select" />
										</div>
										<div class="make-switch switch-mini toggle-state-switch">
											<input type="checkbox" class="row-select" />
										</div>

									</div>
								</div>
								<div class="form-group">
									<label for="text-query-comment">Query Comments</label>
									<textarea class="form-control" th:field="*{queryComment}"
										id="text-query-comment" rows="3"></textarea>
									<small id="comment-help" class="form-text text-muted">These
										comments will be attached to your saved query</small>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>