<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Fragments</title>
</head>
<body>
	<div th:fragment="gene-form">
		<div class="card panel">
			<div class="card-header panel-header text-center">
				<h2>Input Form</h2>
				<h4>View the correlation data for a specified gene</h4>
			</div>
			<div class="card-block panel-block">
				<div class="container-fluid">
					<div class="row justify-content-center text-center">
						<div class="col-sm-12">
							<form action="#" th:action="@{/}" th:object="${geneForm}"
								method="POST">
								<div class="form-group">
									<label for="select-species">Select Species</label> <select
										class="form-control" id="select-species"
										th:field="*{geneSpecies}">
										<option value="D. melanogaster">D. melanogaster</option>
									</select> <small id="species-help" class="form-text text-muted">All
										genetic information will be searched within this species</small>
								</div>
								<div class="form-group">
									<label for="insert-gene">Gene Name</label> <input type="text"
										th:field="*{inputIdentifier}" class="form-control"
										id="insert-gene" aria-describedby="gene-help"
										placeholder="Enter Gene Name, DB Identifier, or secondary Identifier i.e. hairy | FBgn0001168 | CG6494 " />
									<small id="gene-help" class="form-text text-muted">We
										will compare the data from this gene to every other gene in
										the database</small>
								</div>
								<div class="form-group">
									<label for="correlation-options">Choose correlation
										analysis</label> <select multiple="multiple"
										th:field="*{correlationOptions}" class="form-control"
										id="correlation-options">
										<option value="exp-by-stage" select="selected">Expression
											by Stage (modENCODE)</option>
									</select> <small id="correlation-help" class="form-text text-muted">Choose
										all properties to conduct correlation analysis on. Hold shift
										to select multiple.</small>
								</div>
								<div class="text-left">
									<div class="form-group">
										<div id="accordion" role="tablist" aria-multiselectable="true">
											<div class="card form-card" th:each="expressionStageGroup : ${expressionStageOptions.expressionStageGroupList}">
												<div class="card-header form-card-header" role="tab" th:id="'heading-'+${expressionStageGroup.groupTitle}">
													<h5 class="mb-0">
														<label class="custom-control custom-checkbox"> <input
															type="checkbox"
															th:class="'custom-control-input ' + ${expressionStageGroup.groupTitle} + '-main-checkbox'" />
															<span class="custom-control-indicator"></span> <span
															class="custom-control-description"><a
																data-toggle="collapse" data-parent="#accordion"
																th:href="'#collapse-' + ${expressionStageGroup.groupTitle}" aria-expanded="true"
																th:aria-controls="'collapse-' + ${expressionStageGroup.groupTitle}" th:text="${#strings.capitalize(expressionStageGroup.groupTitle)}">GroupTitle</a></span>
														</label>
													</h5>
												</div>
												<div th:id="'collapse-' + ${expressionStageGroup.groupTitle}" class="collapse show" role="tabpanel"
													th:attr="aria-labelledby='heading-' + ${expressionStageGroup.groupTitle}"> 
													<div class="card-block">
														<div th:each="expressionStage : ${expressionStageGroup.expressionStageList}">
															<label class="custom-control custom-checkbox"> <input
																type="checkbox"
																th:field="*{expressionStages[__${expressionStage}__]}"
																value="true"
																th:class="'custom-control-input ' + ${expressionStageGroup.groupTitle} + '-sub-checkbox'"
																th:name="${expressionStageGroup.groupTitle} + '-' + ${expressionStage}"
																th:id="${expressionStageGroup.groupTitle} + '-' + ${expressionStage}"
																/> <span
																class="custom-control-indicator"></span> <span
																class="custom-control-description" th:text="${expressionStage}">Expression Stage</span>
															</label> <br />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="text-query-comment">Query Comments</label>
									<textarea class="form-control" th:field="*{queryComment}"
										id="text-query-comment" rows="3"></textarea>
									<small id="comment-help" class="form-text text-muted">These
										comments will be attached to your saved query</small>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>