<!DOCTYPE HTML>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Fragments</title>
</head>
<body>
	<div th:fragment="gene-form">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h2>Form from fragment</h2>
				<h4>Lorem ipsum dolor</h4>
			</div>
			<div class="panel-body">
				<div class="row table-row table-wrapper">
					<div class="col-sm-6">
						<div class="row extra-space"></div>
						<div class="row">
							<div class="col-sm-6 text-right">
								<label for="input-identifier">Input Identifier:</label>
							</div>
							<div class="col-sm-6 text-left">
								<input type="text" id="input-identifier" class="query-inputs"
									th:value="${geneForm.inputIdentifier}" readonly="readonly"></input>
							</div>
						</div>
						<div class="row extra-space"></div>
						<div class="row">
							<div class="col-sm-6 text-right">
								<label for="gene-species">Organism:</label>
							</div>
							<div class="col-sm-6 text-left">
								<input type="text" id="gene-species" class="query-inputs"
									th:value="${geneForm.geneSpecies}" readonly="readonly"></input>
							</div>
						</div>
						<div class="row extra-space"></div>
						<div class="row">
							<div class="col-sm-6 text-right">
								<label for="correlation-options">Correlation:</label>
							</div>
							<div class="col-sm-6 text-left">
								<input type="text" id="correlation-options" class="query-inputs"
									readonly="readonly"></input>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<label for="query-comment">Comment</label>
						<textarea id="query-comment" th:text="${geneForm.queryComment}"
							readonly="readonly">
										</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>