<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<th:block th:replace="../fragments/base-fragments :: meta"></th:block>

<th:block th:replace="../fragments/style-fragments :: import-google-fonts"></th:block>
<th:block th:replace="../fragments/style-fragments :: import-bootstrap"></th:block>
<th:block th:replace="../fragments/style-fragments :: custom-style-base"></th:block>
<th:block th:replace="../fragments/style-fragments :: custom-style-help"></th:block>
<th:block th:replace="../fragments/script-fragments :: analytics-gtag"></th:block>
</head>
<body>
	<div th:include="../fragments/base-fragments :: navbar"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card panel">
					<div class="card-header panel-header text-center">
						<h2>Help</h2>
						<h4>Instructions on how to submit a request and view the
							results</h4>
					</div>
					<div class="card-body panel-block">
						<div class="container-fluid">
							<div th:include="../fragments/help-fragments :: what-is-flycage"></div>
							<div th:include="../fragments/help-fragments :: submit-a-request"></div>
							<div th:include="../fragments/help-fragments :: view-results"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="../fragments/script-fragments :: import-jquery"></th:block>
	<th:block th:replace="../fragments/script-fragments :: import-bootstrap"></th:block>
</body>
</html>