<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Basheer Becerra's personal website." />
<meta name="keywords"
	content="Basheer, Becerra, Bash, developer, entrepreneur, researcher" />
<meta name="author" content="Basheer Becerra" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<title>Fly Transcription</title>

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

</head>
<body>
	<div class="panel">
		<div class="panel panel-body">
			<form action="#" th:action="@{/}" th:object="${geneForm}"
				method="POST">
				<div class="form-group">
					<label for="select-species">Select Species</label> <select
						class="form-control" id="select-species" th:field="*{geneSpecies}">
						<option value="D. melanogaster">D. melanogaster</option>
					</select> <small id="species-help" class="form-text text-muted">All
						genetic information will be searched within this species</small>
				</div>
				<div class="form-group">
					<label for="insert-gene">Gene Name</label> <input type="text"
						th:field="*{inputIdentifier}" class="form-control"
						id="insert-gene" aria-describedby="gene-help"
						placeholder="Enter Gene Name, DB Identifier, or secondary Identifier i.e. eve | FBgn0000606 | CG2328, " />
					<small id="gene-help" class="form-text text-muted">We will
						compare the data from this gene to every other gene in the
						database</small>
				</div>
				<div class="form-group">
					<label for="correlation-options">Choose correlation
						analysis</label> <select multiple="multiple"
						th:field="*{correlationOptions}" class="form-control"
						id="correlation-options">
						<option value="exp-by-stage" select="selected">Expression
							by Stage (modENCODE)</option>
					</select> <small id="correlation-help" class="form-text text-muted">Choose
						all properties to conduct correlation analysis on. Hold shift to
						select multiple.</small>
				</div>
				<div class="form-group">
					<label for="text-query-comment">Query Comments</label>
					<textarea class="form-control" th:field="*{queryComment}"
						id="text-query-comment" rows="3"></textarea>
					<small id="comment-help" class="form-text text-muted">These
						comments will be attached to your saved query</small>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script>
		
	</script>
</body>
</html>