<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Basheer Becerra's personal website." />
<meta name="keywords"
	content="Basheer, Becerra, Bash, developer, entrepreneur, researcher" />
<meta name="author" content="Basheer Becerra" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />
<title>Fly Transcription</title>

<!-- Google Fonts -->
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
	rel='stylesheet' type='text/css'></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
</head>
<body>
	<p th:text="${geneForm.geneSpecies}"></p>
	<p th:text="${geneForm.geneName}"></p>
	<div th:each="correlation : ${geneForm.correlationOptions}">
		<p th:text="${correlation}"></p>
	</div>
	<p th:text="${geneForm.queryComment}"></p>

	<div class="row table-row">
		<table id="correlation-results">
			<thead>
				<tr>
					<th>DB-ID</th>
					<th>SECONDARY-ID</th>
					<th>GENE-NAME</th>
					<th>R-VAL</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script>
		var t = $('#correlation-results').DataTable({
			aaSorting : [ [ 3, 'des' ] ],
			"pageLength" : 25
		})
	</script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var correlationResults = [[${correlationResults}]];
	
	/*]]>*/
	</script>
	<script>
		correlationResults.forEach(function(correlationResult){
			t.row.add([correlationResult.gene.dbIdentifier, correlationResult.gene.secondaryIdentifier, correlationResult.gene.geneName, correlationResult.rVal]).draw(false);
		});
	</script>
</body>
</html>